/*------------------------------Navbar----------------------------------------------------------*/
.navbar-brand, .nav-link {
    color: #666 !important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active,
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: #f7547a !important;
    text-decoration: underline;
}
