@inherits LayoutComponentBase

<PageTitle>ClassifiedsBlazor</PageTitle>

<div class="page">
    <!--
    <div class="sidebar">
        <NavMenu />
    </div>
    -->
    <main>
        <div class="top-row px-0">
           <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Classifieds</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
                aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Post Ad</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
