@page "/Advert/Detail/{Id:int}"
@model ClassifiedsBlazor.Pages.DetailModel

<div class="d-flex justify-content-center">
<div class="card w-50 " >
	<div class="card-header">
		@Model.Advert.Detail.Title
		<button type="button" class="btn-close"></button>
	</div>
	<div class="card-body">
		<blockquote class="blockquote">
			<p>@Model.Advert.Detail.Email</p>
			<p>Submitted: @Model.Advert.SubmittedDate </p>
		</blockquote>
		<p class="card-text">@Model.Advert.Detail.Body</p>
	</div>
	<div class="card-footer">
		<button type="button" class="btn btn-secondary">Close</button>
	</div>
</div>
</div>
@{
	Layout = "_Layout";
}




