body {
    margin-bottom: 60px;
    background-color: #e9eef2;
}


/*------------------------------INDEX PAGE----------------------------------------------------*/
.card {
    background-color: #fdefb2;
}

